.principalContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  hsl(0, 0%, 98%)
}

.nextGenerationContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
    
}
.requestInviteBtnPrincipal {
    background-color: red;
}
.nextGenerationContent h1 {
    letter-spacing: 3px;
    font-weight: 500;
}

.nextGenerationContent h1,p {
    margin-bottom: 25px;
}

.imgCelulares {
    width: 90%;
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    justify-self: end
    
}

.whyEasyBank {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.whyEasyBank h1,p {
    margin-bottom: 18px;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.benefits p {
    width: 300px;
}

.benefitsContent h1,img, p {
    margin-bottom: 25px;
}

@media screen and (max-width: 1366px) {
    .benefits {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .whyEasyBank {
        gap: 100px;
    }
    .benefits {
        margin: 0;
        grid-template-columns: repeat(2, 2fr);
    }
    .nextGenerationContent,
    .whyEasyBank {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .principalContent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
       
    }
    .nextGenerationContent {
        width: 300px;
        margin-right: 50px;
    }
    .principalContent img {
        width: 500px;
        height: 500px;
    }
    .whyEasyBank {
        flex-direction: column;
        align-items: center;
    }
    .benefits {
        grid-template-columns: repeat(1, 4fr);
    }
    .benefitsContent {
        align-items: center;
    }
}
