.latestArticlesStructure {
    background-color:  hsl(0, 0%, 98%);
    padding-top: 20px;   
}

.latestArticlesStructure h1 {
    margin: 10px 100px;
}

.latestArticles {
    display: grid   ;
    grid-template-columns: repeat(4, 1fr);
    max-width: max-content;
    margin: 0 100px;
    gap: 100px;
}

.latestArticlesContent{
    width: 300px;
    margin-top: 80px;
    box-shadow: 1.5px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;

}

.latestArticlesContent:hover {
    transform: translateY(-10px);
    box-shadow: 1.5px 4px 8px #000000;
     transition: 0.2s;
}


.latestArticlesContent img {
    width: 100%;
    height: 250px;
    border-radius: 3px;
}

.latestArticlesContent h2 {
    margin-top: 10px;
    font-weight: 600;
    color: #000000;
}

.latestArticlesContent h2, p3 ,p2 {
    margin-bottom: 30px;
   
}

.latestArticlesContent p3,p2 {
    color:  hsl(233, 8%, 62%)
}

@media screen and (max-width: 1440px) {
    .latestArticles {
        grid-template-columns: repeat(3, 1fr);
    
    }
}