.header {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
}


.nav ul {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 80px;
    list-style: none;
}

.nav a{
    color: hsl(192, 70%, 51%);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav a:hover {
    color: #000;
}

.nav a:focus:after,
.nav a:hover:after {
  width: 100%;
  left: 0%;
}

.nav a:after {
  content: "";
  pointer-events: none;
  bottom: -10px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: hsl(136, 65%, 51%);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

#RequestInviteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
    padding: 16px;
    width: 160px;
    border-radius: 25px;
    cursor: pointer;
    color: #FFF;
    font-size: 14px ;
    font-weight: bold;
}

#RequestInviteBtn:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

